
{# templates/emails/registration.html.twig #}
<h3>Réinitialisation du mot de passe</h3>

Voici votre nouveau mot de passe généré aléatoirement. Pensez à le changer le plus rapidement possible :

{{ message }}

<br/>Cordialement,
<br/>Le staff eMove

{# Makes an absolute URL to the /images/logo.png file #}
<img src="">