
{# templates/emails/registration.html.twig #}
<h3>Un nouveau message reçu</h3>

{{ name }} vous a contacté.

{# example, assuming you have a route named "login" #}
{{ message }}

Vous pouvez le contacter via : <a href="maito:{{ email }}">{{ email }}</a>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="">


