{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <h3>Nous avons bien reçu votre message, nous vous recontacterons le plus vite possible</h3>

        <h3>A bientôt!</h3>

        <a class="btn btn-success" href="{{ path('home_page') }}">Retour</a>
    </div>
{% endblock %}