<header>
    <nav class="container">
        <a href="/"><img src="{{ asset('img/logo.png') }}" /></a>
        <ul>
            <li><button type="button"  data-toggle="modal" data-target="#insription">Inscription</button></li>
            <li> | </li>
            <li><button type="button"  data-toggle="modal" data-target="#connexion">Connexion</button></li>
            <li><a href="#"><img src="{{ asset('img/user.png') }}" alt="" /></a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('dashboard') }}">Administration</a></li>
            {% endif %}
        </ul>
    </nav>
</header>