<header>
    <nav class="container">
        <a href="/"><img src="{{ asset('img/logo.png') }}" /></a>
        <ul>
            <li><a href="{{ path('user_registration') }}">Inscription</a></li>
            <li> | </li>
            <li><a href="{{ path('login') }}" >Connexion</a></li>
            <li></li>
        </ul>
    </nav>
</header>