

<div class="modal fade" id="forgetPassword" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Attention, vous êtes sur le point de réinitialiser votre mot de passe. Pour se faire veuillez renseigner votre adresse Email.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <p>Copyrights © - <?php echo date('Y'); ?> - Presented by <strong><a href="#" target="_blank">Noche Design</a></strong></p>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
        </div>
    </div>
</div>
