{% extends "layout/layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Connectez-vous avec votre email</h3>
                    <form role="form" action="{{ path('login') }}" method="post" id="login-connexion">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" name="_username" aria-describedby="basic-addon1" value="{{ last_username }}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" name="_password" aria-describedby="basic-addon1">
                        </div>
                        <input type="submit" id="btn-connexion" class="btn btn-success btn-lg btn-block" value="Connexion">
                    </form>
                    <a>J'ai oublié mon mot de passe ?</a>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <p>Copyrights © - <?php echo date('Y'); ?> - Presented by <strong><a href="#" target="_blank">Noche Design</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

